[2019-10-17 10:46] elad-yosifon opened #2 "compilation to WASM not working.."
`cargo build --release` does not create WASM bindings...  only `libphoton.so` file .
[code]
after cargo build, the `target` directory does not have a `pkg` dir, there is a `release` directory.

FYI, trying to compile from scratch using current `master` branch, cargo version `cargo 1.38.0 (23ef9a4ef 2019-08-20)`

[2019-10-22 13:56] silvia-odwyer commented on #2
Thank you for opening this issue, Elad!

To compile the library to WASM, you'll need the `wasm-pack` build tool. You can get it here: https://rustwasm.github.io/wasm-pack/

Then, once you have installed wasm-pack, move into the `crate` sub-directory and run the following command:

`wasm-pack build`

This will compile the crate to WebAssembly and output a ./pkg (equivalent to an npm module) which y

[2019-10-22 14:04] elad-yosifon commented on #2
@silvia-odwyer sure np... will update soon

[2019-10-22 14:19] elad-yosifon commented on #2
@silvia-odwyer wasm-pack works..  thanks!

[2019-10-22 14:19] #2 closed

[2019-10-22 16:13] elad-yosifon opened #3 "Feature request: additional functions (rotate, crop, scale, ...)"
I think there is a real need for a "native" image processing library, but at the moment this repo is lacking fundamental functions such as: cropping, scaling, rotating, flipping etc...

[2019-10-23 17:27] silvia-odwyer commented on #3
Thank you so much for the feature request, Elad! I'm going to implement these functions in the coming few weeks or so, as you are correct, there is a fundamental need for these functions to be available within the library also.

I'm hoping to start with flipping and rotating first, then will work on cropping and scaling. Scaling may take slightly more time than the others due to the required need

[2019-10-27 12:17] elad-yosifon commented on #3
@silvia-odwyer that sounds great!
I might be able to help out..  I'm quite new to Rust, but I think this will be a nice challenge..

[2019-12-18 01:23] RobertWHurst opened #5 "What is the name of the npm package?"
Firstly, this is a fantastic library, thank you for sharing it with the community.

I'm trying to use it in a node project, but I can't seem to find the documentation for usage with JS in node. Is there a npm package I can install, or do I need to write my own bindings to the lib?

[2019-12-19 01:02] silvia-odwyer commented on #5
Hi Robert,
I'm delighted you've decided to use Photon with a Node project; that's pretty exciting! The first release of Photon as an npm package will be in the coming weeks, so it will be installable via npm pretty soon.

However, until then, you can generate the npm package directly and then use it as per usual in your node project (by using npm link, if you need more info on that, just let me kn

[2020-01-04 19:56] elad-yosifon opened #6 "Enhancement: choosing FilterType in resize functions"
@silvia-odwyer Many thanks for implementing resize, crop etc...  I'm gonna test them out in the next couple of days!

I have noticed you are using NN ("nearest- neighbor") as the resize algorithm.
There are several use cases for using different algorithms (e.g. images with crisp curvy lines, lanczos3 is a much better choice for that...) - why should we limit it to NN exclusively?
Luckily, there ar

[2020-01-05 00:55] silvia-odwyer commented on #6
Hi Elad,
Thanks so much for mentioning this, I'm completely on-board, and was hoping to allow several other resize algorithms also, so now sounds like the perfect time to allow for those!

Sure, if you'd like to provide a PR, that would be fantastic. As far as I'm aware, Rust doesn't support overloaded functions, so we could expose the `image::FilterType` enum as a function parameter instead.

Let

[2020-01-06 13:29] elad-yosifon opened #8 "npm run build failing while trying to resolve ./js/worker.js"
[code]

[2020-01-06 17:45] sheerun commented on #5
Can't wait for npm package :)

[2020-01-06 19:56] silvia-odwyer commented on #8
I'm going to look into this now, and update the `webpack_demo` code, so that it'll build successfully. Thanks for mentioning this!

[2020-01-06 20:48] silvia-odwyer commented on #8
Hopefully it builds now, let me know if there are any other issues. 👍

[2020-01-09 00:38] silvia-odwyer commented on #5
@RobertWHurst @sheerun The npm package is available here: https://www.npmjs.com/package/@silvia-odwyer/photon

@RobertWHurst If you're intending to use Photon with NodeJS, I'd recommend you use this package instead, which is tailored to NodeJS (this ensures it can be imported via `require`): https://www.npmjs.com/package/@silvia-odwyer/photon-node

I've been testing it for the last few days, to en

[2020-01-09 00:46] sheerun commented on #5
Do you know how to use it with create-react-app? I get following error:

[code]

[2020-01-09 00:48] sheerun commented on #5
Also If I manually change `import * as wasm from './photon_bg';` to `import * as wasm from './photon_bg.wasm';` then I get another error:

[code]

[2020-01-09 01:13] silvia-odwyer commented on #5
You'll need a WASM loader, so if you install wasm-loader (`npm install --save wasm-loader`) and add the following to create react app's `config-overrides.js`, within the `override` function, it should fix that issue for you:

[code]
You can see a complete example of this here: https://github.com/silvia-odwyer/photon/blob/master/react_app_demo/config-overrides.js

I'll add a note on this in the doc

[2020-01-09 22:31] sheerun commented on #5
@silvia-odwyer It works very well. The only nitpick is that source you export uses no `.wasm` extension for was import which makes `config.resolve.extensions.push('.wasm');` necessary and is not compatible with upcoming node ES6 imports which require explicit extensions.

It's very weird because the source I'm exporting with `wasm-pack build` is very different than yours. Are you using newest vers

[2020-01-12 02:56] silvia-odwyer commented on #5
@sheerun Thanks for flagging this issue, I had a look into what was causing the different outputs, and it appears I wasn't using an up-to-date version of wasm-pack. I'm going to watch out for this in future.

Also, I'm going to update the npm modules, so that the source of each version will include a file with the `.wasm` extension. Thanks so much for pointing this out, Adam!

[2020-01-12 03:08] #6 closed

[2020-01-12 03:08] #8 closed

[2020-01-12 09:56] sheerun commented on #5
I've submitted WASM support out of the box to create-react-app but I would not count it'll be merged soon given state of their issues and PRs: https://github.com/facebook/create-react-app/pull/8303

[2020-01-13 16:59] a1trl9 opened #11 "Runtime Error for image with less than 4 channels"
Hi Silvia,

For now, at first step of many functions in this project, we would try to create a `DynamicImage` instance with function `helper::dyn_image_from_raw` and it works perfectly in most circumstance. However, when I tried to pass a **grayscale** image as a base64 string, for example:

[code]

A runtime error raises as `ImageBuffer::from_vec(xx)` in `dyn_image_from_raw` returns `None` and `u

[2020-01-14 22:57] silvia-odwyer commented on #11
@a1trl9 Thank you for raising this issue, and for your proposed edits, both were incredibly useful to me when investigating the source of the problem.

It appears the image was not being converted to RGBA in the `base64_to_image` function, so I made the changes to convert to that, you'll see the commit up above.
Hopefully this fixes the issue, and let me know if anything isn't working!
Thanks agai

[2020-01-15 02:07] a1trl9 commented on #11
@silvia-odwyer just tested on my cases -- it works perfectly now!

[2020-01-15 13:45] #11 closed

[2020-02-14 03:55] s0kil opened #13 "Benchmark vs libvips"
How is the performance of photon compared to [libvips](https://github.com/libvips/libvips)?

[2020-02-28 13:52] #13 closed

[2020-03-06 03:23] goodforever opened #14 "cargo run --release got Err"
thread 'main' panicked at 'called `Result::unwrap()` on an `Err` value: IoError(Os { code: 2, kind: NotFound, message: "No such file or directory" })', src/libcore/result.rs:1165:5

[2020-03-06 13:13] silvia-odwyer commented on #14
Hi @goodforever! Thanks for opening this issue!
You'll need to provide an image in the directory that matches the file specified in `bin.rs`. There are two sample images provided in the `examples/input_examples` directory, if you rename one of the images to the filename specified in bin.rs, that should do the trick. Or else, you can modify bin.rs so that the image `daisy_fuji.jpg` will be filtered

[2020-03-06 15:50] goodforever commented on #14
Thanks! successfully

[2020-03-06 15:50] #14 closed

[2020-05-09 01:43] nitsuga5124 opened #17 "blend() failing on non transparent images"
blenc() panics on this line
https://github.com/silvia-odwyer/photon/blob/master/crate/src/helpers.rs#L47
when a non transparent image is given.

It panics with all jpg/jpeg images, but it doesn't panic on png images that are transparent

[code]
A fix for this or a possible workaround would be appreciated, as i can't figure out exactly the cause, and im unable to find a way to easily make the image

[2020-05-09 19:28] silvia-odwyer commented on #17
Thanks for reporting this issue, @nitsuga5124! I've been investigating this issue and have attempted to recreate the bug.

I've coded up a small example by blending two JPG images together with the "overlay" blend type, and it outputted the blended image successfully. That said, in the `blend` function, I'm not converting the second image parameter to RGBA so that could be a potential issue also,

[2020-05-09 19:38] nitsuga5124 commented on #17
https://5124.16-b.it/ss/21:35:37_09-05-2020.png
It appears that the issue persist,
I've discovered 1 picture that's not transparent where the issue doesn't happen
but gray-scaling the image makes the issue occur.
It's still happening with every jpg/jpeg image I'm trying when combined with a png.

I can facilitate a zip with the images being used to test if required.

[2020-05-09 19:55] silvia-odwyer commented on #17
If you could send a zip with the images being used, that would be great! @nitsuga5124 I can investigate the issue exactly then. 😄

[2020-05-09 20:05] nitsuga5124 commented on #17
[code]
This is how the images get converted to the slice to be used on the function.

The zip contains the pride image saved on `pride_image` and the pictures that are given as a slice of u8 to the function argument.
[photon.zip](https://github.com/silvia-odwyer/photon/files/4604406/photon.zip)

[2020-05-10 06:47] rsk700 opened #18 "blend() shifts colors"
I was experimenting with blend function and seems like it has some issue. I was using "over" method which, as I understand, should put one image above other without mixing colors, with original photon code colors become lighter on blend here is example result with two source images, photon result, and expected result:
https://imgur.com/a/CfT2m6o

problems looks like related to this line:
https://g

[2020-05-14 12:03] rsk700 commented on #18
if take color `from_raw` and back `into_raw` color changes, this debug code
[code]
prints
[code]

[2020-05-15 01:47] #18 closed

[2020-05-16 08:35] rsk700 commented on #17
looks like problem because `new_from_byteslice` does not convert image to rgba before storing in PhotonImage, while both `open_image` and `dyn_image_from_raw` assume PhotonImage stores data in rgba format, I've attached my fix proposal

error mentioned in issue was because:
[code]
checks for buf size (each pixel 4 components)

[2020-05-16 16:22] #17 closed

[2020-06-03 12:55] akx opened #22 ""Performance" section on web site"
Hi there!

Props for the nice library. I'm curious about the performance numbers on the web site. It says

but there's no note on what exactly was benchmarked in each case, or how. Could that information be added to the site? Right now it just says Photon does something in 2 seconds, ImageMagick does something in 22, and PIL (btw, did you use PIL or Pillow?) does something in 40. 😅

[2020-06-03 15:36] killercup opened #23 "Security and safety guarantee"
Under "Features", the Readme [says](https://github.com/silvia-odwyer/photon/tree/06d14eec21716f46626143cb7ca63acba835e05f#features):

This is great as marketing, but do you actively do anything to check this? Does CI run clippy? Do you deny/verify unsafe code? I know the `image` crate has some fuzzing targets which found [a bunch](https://github.com/rust-fuzz/trophy-case) of issues. Do you do anyt

[2020-06-03 17:36] xn3cr0nx opened #24 "photon-node usage on backend"
Hi, congratulations about the huge work, I can't wait to try it with Rust, but currently I'd need to use the lib in node.
I don't exactly get how it is intended to be used on backend, it seems it requires anyway to work with a canvas, while with node the most common usage is probably reading directly from fs or to use a readStream from fs. I think an example would be really convenient.

[2020-06-04 01:02] silvia-odwyer commented on #23
Hi Pascal,
Thanks for opening this issue, questions are always more than welcome! Rust is memory-safe by default, so it offers that advantage, and I deny unsafe code directly in the library. A [search for unsafe code ](https://github.com/image-rs/image/search?q=unsafe&unscoped_q=unsafe)in the `image` crate returns unsafe code being used in functions which are prefixed with unsafe, and these are no

[2020-06-04 07:46] killercup commented on #23
Thanks for the reply!

That phrasing sounds better, yes. My main concern was the blanket statement without poiting out why this library is assumed to be safer.

Perfect -- mention that and maybe add a link to the `#[deny(…)]` line :)

I would perhaps also mention the ongoing effort to find bugs in the image crate and the file format decoders using fuzzing.

[2020-06-05 00:48] silvia-odwyer commented on #24
Hi Patrick,
Thanks for opening this issue. I've created a small example here which would read an image directly from fs, apply a grayscale filter, and then save the image as base64. I'm going to be uploading this example to the [guide ](https://silvia-odwyer.github.io/photon/guide) also, and will also be adding more Node examples, such as resizing images in Node, plus some benchmarks in the coming

[2020-06-05 10:09] xn3cr0nx commented on #24
Great thank you!

[2020-06-07 09:35] zimond commented on #22
I kindly advise that this section be removed, along with the _Photon outperforms even the fastest of libraries, including ImageMagick_ in readme. Here are my thoughts:

1. ImageMagick is not well accepted as the fastest image library
2. A library has to be really neatly benched to be declared as one of the "fastest"
3. The known fastest (maybe) library based on CPU image processing is pillow-simd.

[2020-06-07 09:37] zimond commented on #22
By the way, if benchmark is really that important, there's a famous and interesting read about pillow-simd here:

https://gist.github.com/brian-armstrong-discord/1eb10046edb91167b7187513cc306d65

[2020-06-15 09:28] gengteng opened #28 "Feature request: panic-free functions"
I think it would be better to reimplement `open_image` and `save_image` as  panic-free functions that return `Result<T, E>`. for example:

[code]

`bin.rs` :

[code]

[2020-06-17 01:11] silvia-odwyer commented on #28
Hi @gengteng, thanks for the suggestion! I'm hoping to include this feature in version 0.3.0 of the library (currently it's at 0.2.0), so that's definitely in the plans 😄

[2020-07-03 15:10] jcupitt commented on #22
Hello, this looks like a nice project. But I wonder about the benchmark -- running:

[code]

Spends ~75% of CPU in libz, and more than 90% in libpng (according to callgrind). I'm not sure you're really measuring the speed of either project.

FWIW, my personal preference is for a defined task rather than a set of microbenchmarks. The libvips benchmark is 1) load an image 2) crop 3) resize 4) sharpe

[2020-07-04 00:34] silvia-odwyer commented on #22
Hi John, that's a good point about the nature of the benchmark conducted. I'll run more benchmarks consisting of further operations, such as cropping and resizing also, which will provide a better insight into the performance of the library. I'll make sure to update the Wiki benchmarks page as soon as I complete these benchmarks.

[2020-07-15 06:54] tjoskar commented on #24
@silvia-odwyer, is the code for `@silvia-odwyer/photon-node` available somewhere, maybe here on github?

I'm interested in using photon with node.js, and I want to use your `resize` function but it doesn`t look like it is exported for webassembly? https://github.com/silvia-odwyer/photon/blob/6ece12b205d597bcd4454384e27ece3b7e88f369/crate/src/transform.rs#L240-L241 Is there any reason for not expor

[2020-07-24 02:17] silvia-odwyer commented on #24
@tjoskar Thanks for mentioning this; I would like to export several node-only functions, since the browser functions make use of the canvas (and that doesn't work for node, as stated). Currently no annotations exist for a "node-only" target, so I may open an issue about this on wasm-bindgen to see if there are any possible solutions to this. If there are any other ways to work around this or you h

[2020-07-25 09:00] tjoskar commented on #24
@silvia-odwyer I agree, it should be nice to create two targets, one for the web and one for non-web (node/phyton/go/etc.).

I might be missing something, but why can't we use [`resize`](https://github.com/silvia-odwyer/photon/blob/6ece12b205d597bcd4454384e27ece3b7e88f369/crate/src/transform.rs#L240-L241) on the web (and non-web) with webassembly?

Should it not be possible to do something like:
[

[2020-07-29 02:53] silvia-odwyer commented on #24
@tjoskar That's correct, the code sample would work, however in a web browser it would be less performant than the manner it's done currently.

What I can do for the moment is export the `resize` method to WebAssembly so that image resizing is possible in Node also. But in the future, I'd definitely want to add a Node-only target for certain methods.

[2020-07-29 09:41] tjoskar commented on #24
@silvia-odwyer

Sounds great!

Sounds reasonable, but maybe turn it around to "browser-only" instead, so it still would be possible to use the functions with any other language that support WebAssembly, not just nodejs.

In the meantime I think it is fine to append `_browser` the function name that only works in the browser and let it crash if one is using it in some other runtime (as it is today)

[2020-08-04 20:32] Horki opened #29 "too many warnings + some errors"
I saw many other places where I can help you, but for start, it's really annoying to soo many warning messages.

for example:
- too many return statements
- "wrong" swaps
- using loop, instead of clone
- reference to Vec, instead of slice
- not using *= oper
-  unused mut var
- condition for u8 with 255

in `channels.rs`
[code]

in `conv.rs`
[code]

in `effects.rs`

[code]

in `monochrome.rs`

[co

[2020-08-04 20:35] Horki commented on #29
https://github.com/silvia-odwyer/photon/pull/30 pull request is here, contact me if a commit is too large, so I can break it down to smaller commits

[2020-08-06 15:14] Horki commented on #29
@silvia-odwyer ok this works now. I'll close issue

[2020-08-06 15:14] #29 closed

[2020-08-06 15:15] Horki opened #32 "examples[rs] are pretty buggy"
@silvia-odwyer
I have done some small updates on both examples, now everything works, https://github.com/silvia-odwyer/photon/pull/31

[2020-08-06 17:26] Horki opened #33 "bench: fix errors; increase measurement time"
Bugs:
- paths to images are bad
- missing to include
`use photon_rs::transform::{resize, SamplingFilter}`

Updates:
- increase measurement time to 10 seconds
- added png img(converted underground.jpg, via [gm](http://www.graphicsmagick.org/) tool

[2020-08-06 17:29] Horki commented on #33
@silvia-odwyer pull req #34 , NOTE: png image is in a separate commit

[2020-08-06 18:55] Horki opened #35 "webpack demo: city.png missing"
@silvia-odwyer could you upload city.png for webpack demo?

[2020-08-09 00:35] silvia-odwyer commented on #32
I'm going to close this, since pull request #31 fixes this. Thanks again 😄

[2020-08-09 02:31] #32 closed

[2020-08-09 02:31] #33 closed

[2020-08-09 16:43] Horki opened #36 "Use linear image iterator"
@silvia-odwyer Hi, I wrote simple Iterator for the image, so it's not O(n)
PS also even some performance improvements.
![tmp](https://user-images.githubusercontent.com/1398263/89737296-2169de00-da70-11ea-927d-e27a5b439188.jpg)

[2020-08-09 16:43] Horki commented on #36
@silvia-odwyer #37 please check

[2020-08-09 19:42] silvia-odwyer commented on #35
I just updated the webpack demo so that it uses an existing image rather than city.png. Thanks for opening this issue, it should be fixed now, so I'll close this ✅

[2020-08-09 19:42] #35 closed

[2020-08-10 10:38] Horki commented on #36
@silvia-odwyer just saw this, https://github.com/image-rs/image/blob/master/src/image.rs#L638-#L651, so I can do a new branch, and remove my custom iterator, which is redundant

[2020-08-10 17:58] Horki commented on #36
@silvia-odwyer ok, I have tried, and IMHO, my iterator is very naive, but still better solution than O(N^2) loop

[2020-08-12 06:40] Horki commented on #36
@silvia-odwyer before you close ticket, could you also update https://github.com/silvia-odwyer/photon/wiki/Benchmarks

[2020-08-13 22:48] Horki opened #39 "Too many errors in docs snipptes"
@silvia-odwyer hi I have fixed code samples in docs snippters #38

[2020-08-16 01:00] silvia-odwyer commented on #39
@Horki Thanks so much! Since pull request #38 fixes this, I'm going to close this issue ✅

[2020-08-16 01:00] #39 closed

[2020-08-20 02:41] Horki opened #43 "Seam Carver"
@silvia-odwyer Hi, I have included seam carver from imageproc library, which is still experimental, but in some near iteration it will get better, also I have added some small bug fixes #42

[2020-08-25 13:13] Horki commented on #43
@silvia-odwyer bump

[2020-08-28 01:00] silvia-odwyer commented on #43
@Horki Thanks again for your pull request #42, much appreciated 😄 Since that was merged, I'm going to close this ✅

[2020-08-28 01:00] #43 closed

[2020-08-28 12:16] Horki commented on #43
@silvia-odwyer feel free to add me to contributors list :student:

[2020-08-28 17:00] silvia-odwyer commented on #43
@Horki I just added you to the contributors list in the README 😄Let me know if you'd like to also add your GitHub username, etc.,  Thanks again for your great work on this library!

[2020-08-28 17:02] Horki commented on #43
@silvia-odwyer
yes please add all

[2020-09-01 07:12] akx commented on #22
The benchmarks page at https://github.com/silvia-odwyer/photon/wiki/Benchmarks still doesn't show any methodology for the Python Imaging Library results 😞

[2020-09-01 08:08] jcupitt commented on #22
The first test, for example, will be spending 90% of the run time inside libpng, so the important factors in the observed speed will be:

- what version of libpng was used (current libvips is using libspng for decode, for example)
- how libpng was built (optimization flags etc.)
- the version of zlib that libpng was built against (zlib-ng can give a 30% speed improvement)
- the parameters that lib

[2020-09-01 09:42] jcupitt commented on #22
I tried adding a PNG invert task to the benchmark (the one in the repo is JPG):

[code]

`fruit.png` is the image of fruit slices linked from the benchmark page. I see:

[code]

The file is:

[code]

If I try with libvips 8.10 I see:

[code]

So libvips does seem to be using a higher setting for compression (2.5MB vs. 3MB). If I try with compression 1, I see:

[code]

So about the same speed as ph

[2020-09-13 01:55] Saeris opened #45 "RejectionError: unreachable on Call to photon.PhotonImage.new_from_base64 (WASM-Node)"
Hey there! First off, really cool project, it appears to be exactly what I'm looking for. Bad news however is that I'm having difficulty getting it to work. On attempting to create a new `PhotonImage` in Node, I'm encountering a bunch of wasm errors that I cannot decipher. Here's the console output from my test:

[code]

My goal here is to use Photon to aid in extracting the prominent colors from

[2020-09-15 00:47] silvia-odwyer commented on #45
Hi @Saeris Thanks for opening this issue, I'm going to investigate this and try identify the cause of the error. I'll update you when I find a fix, hopefully very soon.

Really glad that you're using Photon for your library, and I'm looking forward to seeing the increased performance over node-vibrant (once we get it working first 😄).

[2020-09-19 12:16] YukSeungChan opened #46 "photon usage on WebWorker"
Hello,
I want to use this library on Cloudflare workers. Cloudflare workers run on WebWorker environment.

I imported photon-rs on rust project and build with wasm-pack.

I get "RuntimeError: unreachable" error on some images converted into base64.

In docs, I saw an example utilizing canvas but are there other ways to store it on memory?

**[Code]**
[code]

**[Error]**
[code]

[2020-09-21 14:44] silvia-odwyer commented on #45
Hi @Saeris The issue appears to be because of the following line:

[code]

To get the correct base64, you need to set your response type to a buffer rather than a string, this is why invalid base64 was being generated and as a result Photon couldn't convert the base64 to an image. So it appears to be an issue with the way the resulting data is encoded.

I see you're using `cross-fetch` to fetch yo

[2020-09-21 14:49] silvia-odwyer commented on #46
Hi @YukSeungChan Thanks for submitting this issue! I've had a look at your code, and it appears that the issue is related to the manner in which you're fetching your image, since the result is encoded as a string rather than as a buffer.

I've coded a small example to help out. This issue has also cropped up for someone else, so I'll update the docs to include an example also.

[code]

Hope this h

[2020-09-21 16:51] YukSeungChan commented on #46
Thanks for the answer.

I can't use node-fetch. How can I encode the [ArrayBuffer](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/ArrayBuffer) of Web API to base64 in the browser?

Above code doesn't work.

[2020-09-21 19:04] Saeris commented on #45
Hey @silvia-odwyer thanks for taking the time to look into this! I'll see if I can make something work of the solution you proposed. I'd like to point out that `cross-fetch` is a wrapper around `node-fetch` for a cross platform compatibility layer, so I shouldn't need to change my dependencies at all. If there is indeed an issue with using `cross-fetch` then some other solution will need to be fou

[2020-10-08 14:09] Horki opened #47 "Hacktober?"
@silvia-odwyer is it possible to participate in [Hacktober](https://puppet.com/blog/hacktoberfest-2020/)?

[2020-10-08 14:27] fabricioc8 opened #48 "The required JS dependency "@silvia-odwyer/photon" is not available -- ClojureScript"
I am doing example project https://github.com/minimal-xyz/minimal-shadow-cljs-importing-npm and after following the steps I get this warning.

Before execute  'npx shadow-cljs watch client' or 'yarn shadow-cljs watch client' I tried with:
npm install --save @silvia-odwyer/photon
npm install @silvia-odwyer/photon
yarn add @silvia-odwyer/photon
and the files are in node_modules folder indeed, but it

[2020-10-09 00:35] silvia-odwyer commented on #47
Yes, I've just opted this repository into Hacktoberfest :D If you submit any PRs during this time, I'll make sure to add the `hacktoberfest-accepted` label to all accepted PRs too 👍

All contributions are welcome! Whether those are new photo filters, [adding tutorials or documentation to the guide](https://silvia-odwyer.github.io/photon/guide/), or solving some of the [issues](https://github.com/s

[2020-10-16 16:25] styfle opened #49 "Demo page fails to resize image"
1. Visit https://silvia-odwyer.github.io/photon/demo.html
2. Click on "Resize Image" in the left navbar
3. View dev tools console

[code]

Tested in Google Chrome 85.

[2020-10-17 15:09] silvia-odwyer commented on #48
@fabricioc8 Thanks for opening this issue, may I ask what warning message or error message you're getting? That'll help me investigate the issue, thanks!

[2020-10-17 19:08] silvia-odwyer commented on #49
Thanks for reporting this @styfle! I've fixed the issue, so it should work now. 👍

[2020-10-18 16:27] styfle commented on #49
@silvia-odwyer Thanks, its working now!

[2020-10-18 16:27] #49 closed

[2020-10-18 16:31] styfle opened #50 "Which image formats are supported?"
Which image formats are supported?

Can photon convert from one image format to another?

[2020-10-18 18:39] elpiel commented on #28
I want to work on this. Couple of questions:

1. Which functions / methods do you think should be panic-free?
2. How should we separate the different errors ( if we need to implement errors other functions/methods )?
3. Could we add a dependency like `thiserror` for easy implementation of the errors?

[2020-10-18 22:30] silvia-odwyer commented on #50
Hi @styfle
The following image formats are supported:
1. PNG
2. JPEG
3. BMP
4. ICO
5. TIFF

Yes, the library automatically converts from one image format to the other. For example, if you load a PNG file and want to export it as a JPEG or another image format, the library allows for this. Hope that answers your question, and I'll leave this issue open until I update the guide/README to include the

[2020-10-18 23:42] silvia-odwyer commented on #28
Hi @elpiel I'm delighted that you want to work on this, much appreciated! 😄

I think it would be great if both the `open_image` and `save_image` functions are panic-free. Those are the main two I'd like to put priority on.

As for separating the different errors, one error could be an ImageNotFound for the open_image function if the image doesn't exist, and another OutputError if the image can't b

[2020-10-18 23:42] styfle commented on #50
@silvia-odwyer

Great, thanks for the quick response!

I would be helpful to have docs to show converting from one format to another 👍

Another question for you: can photon change the quality of an image?
For example, [sharp](https://sharp.pixelplumbing.com/api-output) has quality option which is basically 1-100 percent, default 80.

[2020-10-18 23:59] styfle opened #51 "Add support for webp image format"
It would be great for photon to support [WebP](https://en.wikipedia.org/wiki/WebP) image format now that [most web browsers](https://caniuse.com/webp) support it.

[2020-10-19 00:00] silvia-odwyer commented on #50
@styfle Currently there's no functionality to let photon change the quality of the image, however this is a feature that I'd like to add soon enough! Ideally, I'd like to have an output function for JPGs which takes a quality parameter.  I'm planning to have this feature available in the next release of the library.

Thanks again for your questions, always great to get questions or thoughts on the

[2020-10-19 00:10] styfle opened #52 "Add support for output quality"
Lossy formats usually let you choose the quality.

For example, [sharp](https://sharp.pixelplumbing.com/api-output) has quality option which is basically 1-100 percent, default 80.

[2020-10-19 00:11] styfle commented on #50
Wonderful, thanks! 🥇

I created a couple feature requests (#51 and #52) so this issue can focus on documenting the existing file formats 👍

Keep up the great work 🎉

[2020-10-19 06:02] elpiel commented on #28
Hey @silvia-odwyer , no worries, happy to help! The library looks interesting and I thought I would take a stab on couple of features.

[2020-10-20 21:20] fabricioc8 commented on #48
Hello Silvia, how are you? Thanks for yout answer! :)
I was finally able to use the library doing this example https://github.com/minimal-xyz/minimal-shadow-cljs-nodejs. I had this answer on stackoverflow:
"shadow-cljs does not support WebAssembly bundling at this point.
Not sure why you are getting an error telling you that it doesn't exist. The library in question contains a compiled .wasm file

[2020-10-21 02:31] fabricioc8 commented on #48
Here is another part of the error message:
`    at Function.new_from_base64 (C:\Users\usuario\desktop\clojure\mini
mal-shadow-cljs-nodejs\node_modules\@silvia-odwyer\photon-node\photon.
js:2561:24)
    at Function.<anonymous> (C:\Users\usuario\desktop\clojure\minimal-
shadow-cljs-nodejs\target\main.js:229:966)
    at pd (C:\Users\usuario\desktop\clojure\minimal-shadow-cljs-nodejs
\target\main.js:1

[2020-10-22 12:57] silvia-odwyer commented on #48
Hi @fabricioc8 Glad you got it working with Clojurescript! As for the error relating to JPGs, this has also occurred for me when testing the library, and it appears that the issue was related to how I was converting a JPG image to base64 in Node.js. The same issue could be happening here in your case.

Could you provide a sample JPG image you wish to use so we can investigate this further? Thanks

[2020-10-22 16:18] fabricioc8 commented on #48
![input](https://user-images.githubusercontent.com/25851640/96900408-6fd02b80-1468-11eb-93ea-e12d29340ea5.jpg)

The readfile and replace steps seems to work fine... the message comes up when I attempt 'photon.PhotonImage.new_from_base64(data) (or in cljs (sop/PhotonImage.new_from_base64 data))'

[2020-10-22 17:26] silvia-odwyer commented on #48
@fabricioc8 I've converted the image to base64 and added the base64 data to a pastebin file here: https://pastebin.com/y3pHi48Y

Could you try pasting that as the `data` parameter for `photon.PhotonImage.new_from_base64(data)` and let me know if it works? If it does, then this signals that the base64 data previously inputted was invalid, which was an issue I also had in the past.

Thanks 👍 , hopef

[2020-10-22 18:04] fabricioc8 commented on #48
It throws the same error...is the same string that I obtain from the readfilesync. I tried several jpg images and its the same..

[2020-10-23 11:51] Daggy1234 opened #56 "Updating Dependencies"
I want to use photon with the rust `image` crate. However image v0.23.10 is not compatible with photon which is using image v0.21.1. I would love to see support for the latest `image` crate with photon as it offers great gif support!

When I tried manually, there were 188 issues present. A lot of the library has changed, so someone well versed with the library would have to do it.

[2020-10-23 17:40] silvia-odwyer commented on #56
@Daggy1234 Yes, I kept the `image` version at v0.21.1 because future versions contain significant breaking changes. However updating to v0.23.10 is definitely in the pipeline at some point, when the `image` crate contains new features which I'd like to incorporate into photon.

As to the gif support, may I ask for more info on your use case? I've been interested in adding gif support too, so I'd l

[2020-10-24 17:55] silvia-odwyer commented on #50
I just added the supported image formats to the repo's documentation, including the [guide ](https://silvia-odwyer.github.io/photon/guide/)and the README, so I'll close this issue ✅

[2020-10-24 17:56] #50 closed

[2020-10-25 16:06] Daggy1234 commented on #56
Sure!
soo I was developing python bindings for photon because I love this library

https://github.com/Daggy1234/polaroid and due to versioning, I had to use the old `Encoder and Decoder.` While my implementation isn't the best, it works albeit very slowly. With v-.23.10 the new encoder is much faster and should make gifs useable. In addition, I believe gifs are natively supported for encoding and

[2020-10-27 17:41] silvia-odwyer opened #57 "Add build badges to README"
Since Photon now includes CI, it would be great to add build badges to the README, preferably using a shields.io badge. See here for more info: https://github.com/badges/shields/issues/2574#issuecomment-522575868

[2020-11-25 19:11] Daggy1234 commented on #56
Another key reason for a version bump is byte serialization.

Atm photon can only read and write from the fs, whereas in apps like a discord bot I am making in sereneity-rs, it makes a lot of sense to interact with buffers.

Latest image create has methods like `to_bytes` for `DynamicImage` that can greatly add some very cool Buffer functionality.

This buffer will work great for Js with nodejs Bu

[2020-11-25 22:49] silvia-odwyer commented on #56
@Daggy1234 Great points there. I'm planning to update the dependencies, when time allows, as there would be a great number of features that would be added due to the update. 😄 Indeed, it would be great to make use of `to_bytes` for Node.js also, as I was also planning on implementing support for Node.js' Buffer also.

[2020-11-27 22:59] Lxrd-AJ opened #59 "Gaussian blur panics on small images"
The function `pub fn gaussian_blur(photon_image: &mut PhotonImage, radius: i32)` seems to cause a panic whenever the input image is small e.g a 10px by 10px image, especially when the width or height of the image is smaller than the radius.

The trace seems to point to either `box_blur_vertical` or `box_blur_horizontal` in conv.rs

[2020-11-30 07:05] free-free opened #60 "Add support for gif image"
There is a schedual for gif image supporting?

[2020-12-01 23:44] silvia-odwyer commented on #59
@Lxrd-AJ Thanks for opening this issue, I'm going to take a look into this and investigate the issue 👍

[2020-12-04 16:58] garygreen opened #61 "Create image using Blob"
At the moment it seems photon relies on loading an image into a canvas in order to then pass onto photon.

Isn't this inefficent and potentially causes loss of quality?

Is there any way to pass just a raw `Blob` to photon and have it pass that onto the WASM for decoding + transforming, etc? This would be useful for image uploads where you can receive a blob file.

Loading onto a canvas seems like

[2020-12-05 13:03] nitsuga5124 opened #62 "Dependencies need updating"
Currently some of the dependencies are out of date, which breaks the usage with conjunction of other image creation/manipulation crates.
Simple example error of an outdated dependency:

[code]

[2020-12-05 16:13] Daggy1234 commented on #62
#56

[2020-12-05 16:14] nitsuga5124 commented on #62
Duplicate on #56

[2020-12-05 16:14] #62 closed

[2020-12-05 16:15] Daggy1234 commented on #61
Atm blob loading is not supported.

[2020-12-06 16:23] nitsuga5124 commented on #56
The outdated dependencies make this crate impossible to get compiled with nightly versions over 2020-11-22 due to https://github.com/rust-lang/rust/issues/44095 being stabilized.

[2020-12-08 18:51] silvia-odwyer commented on #56
I've just updated the dependencies, and refactored the codebase. It has led to continued performance enhancements, and even faster execution times as expected, which is fantastic too. 😄

I'll commit the changes and push them. ✅

[2020-12-09 03:02] Daggy1234 commented on #56
Thats great! How would you feel about new helper methods?

[2020-12-09 09:52] silvia-odwyer commented on #56
@Daggy1234 That would be great! 👍 What helper methods do you have in mind?

[2020-12-09 12:23] Daggy1234 commented on #56
1)
 read from bytes
2) save to bytes

[2020-12-10 12:18] nitsuga5124 commented on #56
https://deps.rs/repo/github/silvia-odwyer/photon
It appears that some dependencies are still out of date, they should probably be updated too.

[2020-12-10 17:44] silvia-odwyer commented on #56
@nitsuga5124 I'll make sure to update those too 👍

[2020-12-10 18:04] silvia-odwyer commented on #56
@nitsuga5124 Just updated the remaining dependencies ✅ I couldn't seem to update the imageproc crate, because the latest version of that crate uses an unstable library feature, so I've kept it at version 0.21.0 for now

[2020-12-12 16:30] Daggy1234 commented on #56
This has been resolved so i'll close this then.

[2020-12-12 16:30] #56 closed

[2020-12-18 22:44] pratik9722 opened #67 "Super resolution AI"
recommendation

if we can give a low-resolution image e.g 640 x 360 then your script will convert it into 1920 x 1080 then it's awesome
then if we can combine https://github.com/ffmpegwasm/ffmpeg.wasm then we can make the HD video out of it

[2020-12-18 22:46] jhodges10 commented on #67
FFMPEG can also upscale on its own using video filters. Photon's not really doing anything super special for upscaling, and even if it was, there are serious differences in upscaling a single frame vs upscaling video - temporal coherence being the most important one!

[2020-12-19 03:15] silvia-odwyer commented on #67
@jhodges10 That's a good point, Jeff, I'd recommend FFMPEG for upscaling, mainly because it can achieve @pratik9722's goal of both upscaling and turning it into a video, all within a single library.
@pratik9722 What are your thoughts on this, does that solve your issue? 😄

[2021-01-04 14:14] taskbox-joe opened #69 "Update repo to work with async web assembly"
I recently started using this package and was trying to use it with webpack 5 by setting their experiments.asyncWebAssembly flag to true but there was a missing function from the compiled JS that prevented it from working.

Webpack 5 notes related to implementing this from the JS side is here https://webpack.js.org/blog/2020-10-10-webpack-5-release/#experiments

The related documentation from the

[2021-02-06 21:57] behunin opened #70 "SyntaxError: import not found"
Chrome88: ```SyntaxError: The requested module '/node_modules/@silvia-odwyer/photon/photon_bg.wasm?import' does not provide an export named 'hsl' ```

Firefox85: ```SyntaxError: import not found: monochrome```

I was trying the resize function.

[2021-02-08 10:53] silvia-odwyer commented on #70
@behunin Hi Levi, could you show the code used and I'll take a look at it! Thanks 😄

[2021-02-09 00:43] behunin commented on #70
[code]

This is inside a Vue 3 setup function.
small is a ref to the `<canvas>`
orig is a ref to the `<img />`

I get the same error whether I use references or `getElementById()`

Thank you for your time! 😃

[2021-02-13 08:53] lironhl opened #71 "Watermark functionality in the example is broken"
When trying out the example https://silvia-odwyer.github.io/photon/demo.html

Seems like the watermake and the watermark-js are broken
**Error in Watermark**
Uncaught TypeError: e.watermark_img_browser is not a function

**Error in Watermark JS**
Uncaught TypeError: Failed to execute 'drawImage' on 'CanvasRenderingContext2D': The provided value is not of type '(CSSImageValue or HTMLImageElement or

[2021-02-19 22:21] souravs-2pirad commented on #46
I am not able to use this library in web workers 😥

Can you please fill in the below example to achieve this.

So far my **Index.html** contains :
[code]

My "photon-worker.js" file contains :

[code]

Thanks 👍

[2021-03-02 14:04] miqbalrr commented on #71
yeah me too

[2021-03-02 14:48] miqbalrr opened #72 "do wee need features cfg ?"
Hi!
i'm new in `rust` and also `wasm`

this is interesting project,
i want to use photon on my private module, but i don't need all the crates.

for example i only want use the `transform` crate in my project.
so i don't have to download and compile all  crates

[2021-03-03 18:52] Daggy1234 commented on #72
Thats not possible atm. I don't think that makes sense either. A lot of the helper code thats part of the crate is used to make the transform.rs module.

[2021-03-03 18:53] Daggy1234 commented on #60
Yup its in the works :)

[2021-03-03 18:57] Daggy1234 opened #74 "Sudden Change in the `apply_gradient` functionality"
How it used to function::

Input Image:

<img src="https://media.discordapp.net/attachments/381963689470984203/816311867571699752/greyscale.png" />

Old Output when `apply_gradient` was used once

<img src="https://media.discordapp.net/attachments/381963689470984203/816311871106842704/rainbow.png" />

Current output:

<img src="https://media.discordapp.net/attachments/381963689470984203/8167458392

[2021-03-03 23:22] #47 closed

[2021-03-04 00:36] silvia-odwyer commented on #71
@lironhl @miqbalrr I've just fixed this, it should be working now ✅ 👍

[2021-03-06 01:31] Losses opened #75 "Docs: Need a detailed list of filters"
I got following words from the readme:
![image](https://user-images.githubusercontent.com/1384036/110190490-8945a300-7e5e-11eb-8506-7e4c1aedd7ae.png)
![image](https://user-images.githubusercontent.com/1384036/110190493-8e0a5700-7e5e-11eb-9f33-7a7bbe7c6046.png)
One paragraph said there're 30+ filters, and another paragraph said there're 20+ filters.

But on the document:

![image](https://user-imag

[2021-03-06 11:33] Daggy1234 commented on #75
10 filters are in the top level,

clicking on the `filter` function will show you the other filters. All of them are documented.

[2021-03-07 00:41] Losses commented on #75
Oh, cool, thanks!

[2021-03-07 00:41] #75 closed

[2021-03-18 17:36] RReverser opened #76 "Make wasm-bindgen an optional feature"
Currently, all methods are marked with `#[wasm_bindgen]`, which makes them exported even when crate is used as a transitive dependency in a Wasm project.

This is not ideal, because one might want to save code size when using only one or two methods from a crate. If methods weren't exported, they wouldn't be compiled in, and would be eliminated as a dead code from the final bundle, but right now t

[2021-03-19 14:30] nebnes opened #77 "Webpack import problem"
I am trying to import photon in a existing web project.
Here is my webpack loader.
[code]

I get this error :
[code]

Have you an example to import photon ?

[2021-03-29 19:36] gp-97 opened #78 "Building photon-rs v0.2.0 fails"
## OS: Ubuntu 20.04
## Rustc: 1.50.0 (Stable)
## Cargo: 1.50.0
### Building of photon-rs v0.2.0 fails
I am following the getting started tutorial (https://silvia-odwyer.github.io/photon/guide/getting-started/) for photon, and wrote a simple rust program to read an image.  I have no other dependency in Cargo.toml, other than photon-rs.
Building fails with following error:-
![Screenshot from 2021-03

[2021-03-30 03:15] silvia-odwyer commented on #78
Hi @gp-97! Thanks for reporting this! I'll be releasing v0.3.0 quite soon, which will fix that issue (it's a matter of updating the `image` and `imageproc` dependencies), but until then, you could add the following to your Cargo.toml instead:

[code]

Hopefully that helps, and I'll add a comment here when v0.3.0 is released ✅

[2021-03-30 03:16] silvia-odwyer commented on #57
Closing this, since build badges have been added in #65 ✅

[2021-03-30 03:16] #57 closed

[2021-03-30 03:17] silvia-odwyer commented on #72
The issue mainly seems to be resolved, so I'll close this ✅

[2021-03-30 03:17] #72 closed

[2021-04-01 07:49] gp-97 opened #79 "[documentation] Syntax Error in Official Documentation"
The official documentation contains error in the:
1. __Getting Started__
      |
      --> __Installing Photon__
          |
          --> __Photon Natively__ (https://silvia-odwyer.github.io/photon/guide/getting-started/#cargotoml)
2. __Native Tutorial__
     |
     --> __Add Photon as Dependency__ (https://silvia-odwyer.github.io/photon/guide/native-tutorial/#cargotoml)

The `Cargo.toml` mention

[2021-04-04 07:08] #79 closed

[2021-04-09 19:04] silvia-odwyer commented on #78
I've just released Version 0.3.0 🎉 Since the dependencies are updated, it should build now, but do let me know if there are any issues! Thanks! 😄

[2021-04-09 19:18] gp-97 commented on #78
Sure. I will try again tomorrow morning

[2021-04-09 20:36] smurrayatwork commented on #78
@silvia-odwyer Would it be possible to get newer versions of the node and web wasm files?

[2021-04-09 20:56] silvia-odwyer commented on #78
@smurrayatwork Indeed, the updated library is now available on NPM 🎉 It's available at [photon ](https://www.npmjs.com/package/@silvia-odwyer/photon) (for the browser) and [photon-node](https://www.npmjs.com/package/@silvia-odwyer/photon-node) (for Node.js image processing).

It's also possible to build from source, by using wasm-pack too, let me know if you want further details on that.

If you h

[2021-04-09 21:03] smurrayatwork commented on #78
@silvia-odwyer The photon package from npm seems to reference `photon_rs_bg.js` that doesn't exist?

Also, does this package require the use of wasm-loader if you don't build from source, or for the web, do you compile and instantiate yourself using the wasm file?

[2021-04-09 21:41] silvia-odwyer commented on #78
@smurrayatwork I've just fixed it with the latest release (v0.3.1), it's now on NPM. It appears the `photon_rs_bg.js` file isn't being added by wasm-pack when building (related to [this issue here](https://github.com/rustwasm/wasm-pack/issues/199)), so I had to include it manually. It should be working now!

If you don't build from source, wasm-loader is still a requirement yes,  but I'm hoping wa

[2021-04-09 22:11] satyarohith opened #82 "Node example in the guide doesn't work"
Example from https://silvia-odwyer.github.io/photon/guide/using-photon-node/#sample-code throws the following error.

[code]

[2021-04-09 22:13] smurrayatwork commented on #78
@silvia-odwyer Thanks for this! I'm still having trouble getting things working with `wasm-loader` and webpack 4.x but that might just be my rules for wasm files not working or something.

[2021-04-09 22:28] smurrayatwork commented on #78
@silvia-odwyer I'm getting errors saying that `wasm` isn't set within photon_rs_bg.js - is this related to it not doing asynchronous importing?

[2021-04-10 13:41] gp-97 commented on #78
It is building just fine. Thanks for fixing the issue and congrats for the new version. :clap:

[2021-04-10 13:42] #78 closed

[2021-04-15 21:37] silvia-odwyer commented on #82
@satyarohith I just tested the example with the latest version of photon-node (v 3.0) and it seemed to work okay. May I ask what image is throwing this error, so I can try replicate it? Thanks so much, I'm hoping to fix this for you! 😄

[2021-04-15 21:43] silvia-odwyer commented on #71
Since this issue is resolved, I'm going to close it ✅

[2021-04-15 21:43] #71 closed

[2021-04-18 14:16] gp-97 opened #84 "[Bug]: photon-rs v0.3.0 doesn't contain padding functionality under src/transform.rs"
The Github repo has it, but the crate at crates.io doesn't have the padding feature. Please look into it. TIA.

[2021-04-18 17:19] satyarohith commented on #82
Hi @silvia-odwyer. Sorry for the delay. The latest version is working as expected. Thanks! :)

[2021-04-18 17:19] #82 closed

[2021-04-18 23:45] silvia-odwyer commented on #84
Hi @gp-97 I've looked into it, and I've seen the issue. The code was included as part of v0.3.0, but since the wasm_bindgen annotations weren't added to the functions, they weren't exposed, so you couldn't call them.

But I've just added the annotations, and created a new Rgba struct which replaces the tuple parameters that represented the padding color. This is to make the code WebAssembly-friend

[2021-04-19 09:56] leonwanghui opened #85 "[RFC] Adopt photon in AI framework to preprocess vision workload"
## Introduction

Hello everyone, I'm working for a new open-source AI framework ([MindSpore](https://www.mindspore.cn/en)) and our team recently created a high-level machine learning development kit called [TinyMS](https://github.com/tinyms-ai/tinyms) to reduce the learning complexity for machine learning beginners.

Recently I found photon on Twitter and I was so impressed by its support for WASM

[2021-04-19 11:22] Daggy1234 commented on #85
Hey so, although I hate shilling my own stuff, I wrote bindings for photon in py. This allows leveraging photo's speed in py.

Check it out here:
https://github.com/daggy1234/polaroid

[2021-04-19 11:58] leonwanghui commented on #85
@Daggy1234 Thanks for that, I will take a look. BTW, have u tried some benchmark comparason with `Pillow` or `opencv-python` package?

[2021-04-19 12:12] Daggy1234 commented on #85
Nope but I definetly will as soon as I can!

[2021-04-19 19:13] gp-97 commented on #84
Oh nice. Thanks @silvia-odwyer for fixing this issue.

[2021-04-23 05:22] coulson84 commented on #77
have you set
[code]

in your webpack.config.js?

[2021-04-23 12:52] gp-97 opened #87 "[BUG]: Rgba struct is not accessible in v0.3.0"
## photon-rs = "0.3.0"

The public struct `Rgba` is not importable, even when it has proper visibility.

[2021-04-23 12:55] gp-97 commented on #84
@silvia-odwyer. Correct me if I am wrong, but I think the github repo has been updated, but the crate hasn't been, because the problem still persists.

[2021-04-25 10:58] Daggy1234 commented on #60
As mentioned in this issue here, Gif encoding is extremely slow with the image-crate. This would need to be resolved for gif support https://github.com/image-rs/image/issues/1467

[2021-04-26 00:57] silvia-odwyer commented on #84
Hi @gp-97 I'm planning on releasing the new version of the library this Tuesday, and it will contain the new frosted glass effect also! 😄 So I'll leave this issue open until it gets released 👍

[2021-04-26 21:37] RaphaelRoyerRivard opened #89 "wasm is undefined in photon_rs_bg.js"
I'm using TypeScript with WebPack and I'm trying to follow the guide (https://silvia-odwyer.github.io/photon/guide/using-photon-web/) but I can't seem to execute the `open_image` function with a canvas and 2d context. This is the error I get :

[code]

I have tried importing photon with
[code]
and also with
[code]

But I get that error with both import methods.
Here is the part where I use photon

[2021-04-29 19:58] silvia-odwyer commented on #84
@gp-97 I just released version 0.3.1, which includes your latest contributions, thanks again!  The Rgba struct should be available now also 🎉

[2021-04-29 20:10] silvia-odwyer commented on #87
The struct Rgba should now be available, so I'll close this issue ✅

[2021-04-29 20:10] #87 closed

[2021-04-29 20:36] #84 closed

[2021-05-05 00:31] garygreen commented on #61
@silvia-odwyer any news on this? Would this be easy to add or is it not so straight forward?

[2021-05-05 00:47] silvia-odwyer commented on #61
@garygreen This is definitely in the works. I'm currently working on adding functionality which converts a `Buffer` to a PhotonImage as well as `ArrayBuffer`s, and once this is implemented, support can then be added for `Blob`s too.

[2021-05-05 01:00] jhodges10 commented on #85
Any updates @Daggy1234? I'd love to see the difference!

[2021-05-05 01:01] jhodges10 commented on #5
@silvia-odwyer probably good to close this issue now?

[2021-05-05 01:07] silvia-odwyer commented on #5
Sounds good, just a final note for those from the future who read this:

Photon's npm package is found here, for the browser/web: https://www.npmjs.com/package/@silvia-odwyer/photon

Photon Node's npm package is found here, for Node.js applications: https://www.npmjs.com/package/@silvia-odwyer/photon-node

[2021-05-05 01:07] #5 closed

[2021-05-05 02:16] garygreen opened #94 "Reduce size of wasm build"
Currently it seems the wasm build is 1.04MB and once gzipped becomes 371KB.

The gzipped size is pretty decent, though I wonder is it possible to reduce the size even further?

Our main use case for this library is to resize pictures client side before we send them onto our server. We don't need any filtering based features, like filters, tints, effects.

So just wondering, is it possible to reduc

[2021-05-05 02:40] silvia-odwyer commented on #94
@garygreen I could create a separate npm package, which contains the core resizing functionality only if you like? I could definitely see this being useful for developers who only want to resize images client-side, so I'd definitely be interested in creating this.

It's also possible to [optimize for size instead of speed](https://rustwasm.github.io/book/reference/code-size.html), similar to the o

[2021-05-05 14:51] garygreen commented on #61
@silvia-odwyer woahh that's awsome dude! I really would love to use this program on our site, so once this is added can't wait to give it a try 😁

[2021-05-05 15:01] garygreen commented on #94
@silvia-odwyer that's awesome your open to the idea of having two separate releases!

I could be wrong in this statement but I do think the primary attraction of this library for those intending to use it on the web in WASM will be using it for resizing of images, cropping, and sending onto server. There could be people using it for a full blown built-in photoshop like app, but I think for most th

[2021-05-06 03:05] silvia-odwyer commented on #61
@garygreen If you need this functionality quickly (and since using file `Blob`s w/ photon is still in development), I'd recommend [image-blob-reduce](https://github.com/nodeca/image-blob-reduce) for this, it's a library which uses WebAssembly to resize photos also! It's definitely worth trying out, and is incredibly performant overall.
https://github.com/nodeca/image-blob-reduce

[2021-05-07 14:02] Daggy1234 commented on #61
we do have support for just raw bytes, so you could hypothetically do something. I think the `Buffer` might work. Someone would have to try it tho.

[2021-05-07 14:30] garygreen commented on #61
@silvia-odwyer thanks for the recommendation. I did check out that library which uses pica under the hood - this is a pure javascript library and doesn't use wasm. I think there was issues when we were trying it as well, for example it didn't support EXIF orientation markers / rotations out the box. Overall it seemed like a poor fit for our use case, so wondered if phonton being a proper WASM and

[2021-05-12 20:47] Daggy1234 commented on #61
Sure I'll definitely put something together by the end of the week!

[2021-05-23 11:56] AdamJaggard opened #96 "[Question] Would this library be useful for chroma keying?"
I'm researching libraries for real-time chroma keying (green screening effect) in the browser (canvas based). Do you think Photon would be a good choice for such a task? I have a working prototype using web workers in vanilla JS which runs OK but just looking for higher performance options. I saw you had HSV functions which is how we're defining the key but unsure how to use the library to turn sp

[2021-05-24 01:34] silvia-odwyer commented on #96
Hi Adam!
I'd recommend WebGL for this, due to the real-time aspect of the project. While Photon could also be used, I would expect much greater performance from WebGL overall.
This library could be what you're looking for: https://github.com/brianchirls/Seriously.js
It supports chroma keying, and works in-browser too! Hopefully that helps out, and make sure to let me know if you have any other que

[2021-05-24 09:49] AdamJaggard commented on #96
Thanks Silvia, I guessed real-time rendering wasn't a goal of Photon. I'm going to keep it bookmarked for future use cases though as it looks very useful. We currently have a 2d canvas stack doing various things so won't be able to utilise webgl in the short term but something to consider for the future for sure, thanks for the suggestion.

[2021-05-27 05:34] Andful opened #97 "I get the following error trying to compile photon-rs"
I get the following error trying to compile photon-rs version 0.3.1:
[code]
The compiler version I am using is `rustc 1.49.0-nightly`

[2021-05-27 05:38] Andful opened #98 "Any plan to add dithering?"
For my personal project I am using this library. One feature I would need from this library is dithering. I was wondering if there was already a plan of adding dithering to the library and/or if pull request adding the feature would be welcome(in case I end up adding the feature myself in a fork).

[2021-05-27 05:39] Andful commented on #97
P.S. I tried adding `#![feature(clamp)]` on my side of the code but it did not resolve the error.

[2021-05-27 07:31] Daggy1234 commented on #97
Hey which version of rustc are you using?

Found via `rustc -V`

I think you might be using an old version

[2021-05-27 07:33] Daggy1234 commented on #85
Oh just saw. I will definitely get some benchmarks up on the weekend

[2021-05-27 09:19] Andful commented on #97
Oh yes. It did not compile for version `rustc 1.49.0-nightly` but it did for version `rustc 1.54.0-nightly`.

[2021-05-27 09:20] #97 closed

[2021-06-16 22:22] insinfo opened #99 "how can i use this lib without "webpack" and "npm" in pure javascript inline"
how can i use this lib without "webpack" and "npm".

I have fav many AngularDart projects and in dart I can call javascript functions, but I don't know how to put this lib in my index.html as I do with other libs like "mapbox"

#### index.html
[code]
#### from dart code
[code]

[2021-06-16 23:23] insinfo commented on #99
how do I pass an "ArrayBuffer" from a jpeg file that I have in memory to the pico lib for it to resize and return an "ArrayBuffer" already resized

on dart I use this code below to read the JPG file from an input file element and return me the ArrayBuffer

[code]

How to do this optimally so you don't have to keep creating Canva elements

[2021-06-17 02:04] silvia-odwyer commented on #99
Hi Isaque! At the moment, it's only possible to create canvas elements and then pass those to Photon, but I'm planning to add a feature which supports passing ArrayBuffers to a future version of the library! 😄 Hopefully that answers your question!
As for the builds, webpack or npm is needed to make use of the library, but I see in Rust's wasm-bindgen documentation that builds for the browser only

[2021-06-18 15:55] insinfo commented on #99
I saw in the rust documentation [https://rustwasm.github.io/docs/wasm-bindgen/reference/deployment.html](url) the possibility of compiling with the option "wasm-pack build --target no-modules", then I cloned this repository and compiled it with this option and managed to load the photon with the code below:

[code]
[https://github.com/insinfo/photon-test](url)

but i'm faced with this error:
[code

[2021-06-18 22:43] insinfo commented on #99
after a lot of brainstorming, I found out where the problem was, the "wasm-pack" is generating the javascript with error on this line: "wasm_bindgen = Object.assign(init, __exports);"

so to solve the problem I replace this line, so:

[code]

and this line "return wasm;" that is why
[code]

[2021-06-18 23:40] silvia-odwyer commented on #99
Hi Isaque,
Really glad to hear that you've found the issue, I think you should let the wasm-pack team know about this also, as it could be very useful for them to know about this too 👍
Thanks again for pinpointing the issue here, I'll be sure to keep this in mind when building the library for the browser only ✅

[2021-06-21 22:42] insinfo commented on #99
@silvia-odwyer

I managed to implement the function to work with Uint8Array that I needed in your library, the implementation was as follows:

It's working correctly.

[code]

[2021-06-22 01:21] silvia-odwyer commented on #99
@insinfo I'd love to incorporate this functionality into the library, so would you mind if I added your logic to the library? Or if you want to submit a PR too, whatever suits best 😄

[2021-06-22 01:24] #96 closed

[2021-06-22 13:51] insinfo commented on #99
Thanks for the feedback, feel free to incorporate this implementation.

[2021-06-23 01:01] silvia-odwyer commented on #99
@insinfo Thanks, that's much appreciated! I'm looking forward to adding an implementation of this to the library 😄

[2021-07-13 14:46] Gavin-Gong commented on #77
Work for me.
i use webpack 5 without external wasm loader for but only add options `syncWebAssembly: true`

[2021-08-02 01:38] boehs commented on #94
Provided there has not been a version released, it is trivial to modify lib.rs to not import the uneeded modules and rebuild

[2021-08-14 11:59] andilem commented on #70
I am getting the same (or a similar) error when using Vite (https://vitejs.dev) as build tool.

The problem seems to come from the fact that Vite uses the following WASM import mechanism: https://vitejs.dev/guide/features.html#webassembly. But in `photon_rs_bg.js`, the WASM import is defined as `import * as wasm from './photon_rs_bg.wasm';`, which doesn't work with Vite WASM import.

I found no ea

[2021-08-14 16:17] behunin commented on #70
The problem comes from wasm-bindgen, the way it packages wasm causes all sorts of problems. Even when you do target web. I had to rework the whole package in order to get something working. Hopefully I will have some free time this winter to submit some PRs to wasm-bindgen.

[2021-08-14 19:12] silvia-odwyer commented on #70
@andilem Thanks for letting me know about this! I'd recommend opening an issue in the wasm-bindgen repository, as the WASM version of photon is built using it, so it's definitely worth letting them know also, and you'll be able to get it working with Vite in the future hopefully then 👍

[2021-08-24 12:21] gregmarut opened #102 "Imported directly into Angular 12 but cannot run any functions? __wbindgen_malloc?"
[code]

[code]

[2021-08-24 23:39] silvia-odwyer commented on #102
@gregmarut Sorry to hear about this! I've found this [repo](https://github.com/tonimitrevski/angular-wasm-bindgen), which integrates a wasm module with Angular 8, it might potentially help you out hopefully! But, do let me know if isn't working 👍  I haven't used the module with Angular, I only have examples for React in the repository currently. Hopefully the repo I've linked will help you out tha

[2021-08-30 21:56] krpeacock commented on #89
I've encountered this too. It seems like a problem with how webpack 5 handles the wasm import

[2021-09-03 22:55] samuelvanderwaal opened #105 "`replace_background()` doesn't need to move Rgb?"
It seems strange that `multiple::replace_background` takes ownership of the rbg parameter instead of by reference. I looked at the source code and this doesn't seem necessary since the function just needs to read the integer values. The functionality this prohibits is creating a single Rgb value that can be reused across multiple function calls.

[code]

 The second call fails because `background`

[2021-09-03 23:05] samuelvanderwaal commented on #105
Simply adding a reference to the parameter compiles and solves this issue, but I'm not sure if I'm missing something else or if there's a good reason not to do that.

My fork with that one change: https://github.com/samuelvanderwaal/photon/tree/issue-105.

[2021-09-04 17:53] silvia-odwyer commented on #105
@samuelvanderwaal Hi Samuel, thanks for letting me know about this! Indeed, the RGB color should be passed by reference instead of the function taking ownership of the parameter. If you'd like to open a pull request, I'll be sure to merge it 👍 Thanks!

[2021-09-05 21:20] #105 closed

[2021-09-07 17:24] g8up opened #107 "Failed to load module script: Expected a JavaScript module script but the server responded with a MIME type of "application/wasm". Strict MIME type checking is enforced for module scripts per HTML spec."
[code]
After run the code In Chrome v93, It got an error in console:

[code]

[2021-10-03 20:54] osman-turan commented on #28
@silvia-odwyer What's the status of this issue? From commit history, I see it was implemented and then reversed for save functions due to some reason.

Also, if it will be implemented for save functions, I don't think it's a good idea to use 2 different error structs/enums for open and save functions separately. Because, when someone tries to use error propagating within the same function for open

[2021-10-03 21:14] osman-turan opened #111 "Gamma correction"
At planned features, the gamma correction is listed. At the same time, the codebase has a commented-out piece of code for gamma correction. See: https://github.com/silvia-odwyer/photon/blob/475562b1e6594b994a32921f4f524138b648738e/crate/src/colour_spaces.rs#L10-L50

I haven't checked the correctness of the commented-out function. Why is it commented-out? What's the expectation and plan for the gam

[2021-10-04 00:17] silvia-odwyer commented on #111
Hi Osman,
Thanks for opening this issue and for your interest in working on a gamma correction function!

The current gamma correction code uses features in the `image` library that are now deprecated, namely accessing the `data` field of each pixel, hence why the code is commented out. As for the correctness of the algorithm, I haven't been able to test it due to the deprecated code, so it might

[2021-10-04 01:51] silvia-odwyer commented on #28
@osman-turan That's a good point about not using 2 different error structs/enums for both save and open functions separately. Using one error enum for both would be perfect 👍 Sure, if you're interested in working on this, that would be fantastic! 😄

[2021-10-04 02:27] osman-turan commented on #111
Thanks for the details! Due to rounding, there might be some edge cases at my implementation. If you encounter such inputs, please let me know so that I can work on a fix.

[2021-10-04 02:30] osman-turan commented on #28
[This](https://github.com/silvia-odwyer/photon/pull/113) should solve this issue with the exception of `ImageBuffer::from_vec` originated panic. As I noted in the PR, I believe it should panic for this method. Because it indicates an invocation issue of the function itself - not related to user inputs.

[2021-10-04 17:40] silvia-odwyer commented on #28
@osman-turan Perfect, thanks for the PR! I've just merged it, and this seems to be fixed now, so I'll close this issue ✅ Thanks again!

[2021-10-04 17:40] #28 closed

[2021-10-22 03:31] delebash opened #115 "The resize function in node is not changing the image resolution."
Using node version

My input png is 512x512

I am trying to upscale the image to 2017x2017 using the code below
[code]

The problem is that output.png still has the same resolution of 512x512

Thanks,
Dan

[2021-11-26 06:04] babalolajnr commented on #89
I have this exact issue currently. How were you able to resolve it.

[2021-11-26 08:07] phellmayr1 commented on #102
@gregmarut were you able to make it work with angular? I am currently also fighting with that.
(I get some errors like e.g. `Exception: ReferenceError: Cannot access 'PhotonImage' before initialization at Module.PhotonImage`)
Thank you :)

[2021-11-26 22:21] silvia-odwyer commented on #89
@phellmayr1 @babalolajnr There's a `web` version of Photon available, which is available on NPM here: https://www.npmjs.com/package/photon-web
If you import that instead, it could solve the issue, although let me know if it still isn't working. The issue is mainly to do with the targets provided by wasm-bindgen, so you could try opening an issue there as well to get input from the wasm-bindgen tea

[2021-11-30 05:03] babalolajnr commented on #89
Thanks. I will try that.

[2021-11-30 20:39] gregmarut commented on #102
@phellmayr1 no but I ended up solving my needs by going with a different library instead. I am using a different library to load an image in a rust WASM. Hopefully this helps

[code]

[code]

[2021-12-02 13:52] MichealZwen opened #116 "open_image_from_bytes and image_to_bytes function always return unknown format"
![image](https://user-images.githubusercontent.com/37389563/144434130-99769fd8-9d16-47d3-8f5c-8cc14af8d725.png)
hi, i try to use this crate to implement a small demo, but when i use open_image_from_bytes and image_to_bytes function, alway return unknown format. can. you tell me why?

fetch image url: https://github.com/silvia-odwyer/photon/blob/master/docs/images/fuji.jpg

![image](https://user-im

[2021-12-02 16:21] Daggy1234 commented on #116
Hey do you have  a url to the image you're opening/downloading. It would help debug!

[2021-12-03 02:38] MichealZwen commented on #116
i find the problem. it's really an image format problem. But i encounter an another question. i find this crate depends on rayon, document, CssStyleDeclaration and so on. I want to know that can I find a way to make it webassembly format and run in native javascript environment instead of web or node?

[2021-12-28 06:58] ext-allen-ef commented on #116
hi @MichealZwen I've also found the same issue: what I did was then depend upon image and convert that way:

[code]

[2021-12-28 06:59] HangingClowns commented on #116
hi @MichealZwen I've also found the same issue: what I did was then depend upon image and convert that way:

[code]

[2022-01-17 11:47] ProgrammingLife opened #117 "What about rotation?"
How do I rotate PhotonImage?

[2022-01-17 18:02] batisteo opened #118 "Website: Uncaught TypeError: e.oil is not a function"
In the [website](https://silvia-odwyer.github.io/photon/), after some time of iterating over the filters, it stops on the filter **`oil`** which doesn’t seem to be present in the bundle.
Maybe its path changed?

[2022-01-19 22:12] silvia-odwyer commented on #118
@batisteo Thanks very much for letting me know about this, it's much appreciated! 😄 I'm going to take a look and fix this soon 👍

[2022-01-19 22:14] silvia-odwyer commented on #117
@ProgrammingLife Thanks for opening this issue, currently rotation isn't supported, but I'll leave this issue open, and hopefully will add this function in the future as part of a new version release. 😄

[2022-01-24 16:31] silvia-odwyer commented on #118
It should be fixed now, I just updated the website to reflect this also 👍 Thanks again! 😄

[2022-01-24 16:31] #118 closed

[2022-02-25 03:14] #116 closed

[2022-03-08 23:07] Pandaphobic opened #119 "Many Filters Skip The Last Pixel - Tested with PNGs"
When I apply any of the affects below to an image (png in my case), the very last pixel in the bottom right corner is omitted and staus unchanged.
- neue
- solarize
- lix
- dramatic
- firenze
- obsidian
- sepia
- grayscale (single channel alterantives work fine)
- desaturate

It seems that any filter that has this line will fail to affect the last pixel
```let end = img.get_raw_pixels().len() - 4;

[2022-03-09 22:56] silvia-odwyer commented on #119
@Pandaphobic Hi Chris, thanks very much for opening this issue! I'll be sure to investigate this and work on a fix as soon as possible. ✅

Thanks again!

[2022-03-10 19:48] bluthen opened #120 "photon-node crashes when reading rainbow-pinwheel.jpg"
First off this is a awesome project. I hope I can contribute more.

### The issue
photon-node seems to crash when I tried to load a particular image (rainbow-pinwheel.jpg).

There doesn't seem to be anything wrong with the image. I even tried to resave it with different image software. I realize it might not be an issue with photon but another library like image when combined with wasm.

### Repli

[2022-03-10 20:35] bluthen commented on #120
I wrote started a new wasm rust project and was able to open the image using the same code as photon with the image cargo. So I'm kind of confused.

[2022-03-10 21:03] bluthen commented on #120
I took my small example of loading and tried to get it to crash by slowly making sure the Cargo.toml was similar. The crash happens when "rayon" is added to default feature.

[2022-03-10 23:53] silvia-odwyer commented on #120
@bluthen Hi Russell, thanks very much for letting me know about this, it's much appreciated! 😄 I'm glad you found the solution to fixing this issue, perhaps for future photon-node builds, I will omit the rayon feature to help prevent errors like this in the future ✅

[2022-03-11 04:16] Sparkenstein commented on #89
I was facing the same issue, after switching to Photon-web I am getting:

![image](https://user-images.githubusercontent.com/24642451/157800960-30563f96-c3f4-4c0e-af93-67d0d3e2076c.png)

The example I am using is react example given in repository iteself, except I changed `import` to photon-webs `init`.

[2022-03-11 04:24] Sparkenstein commented on #89
I guess I was doing it wrong, importing just `init` is not enough you have to import each and every function from photon-web, can't use `this.wasm.open_image` the way it was mentioned in the given react example. after importing every function it looks like it's working.

putting a pastebin for others to use: https://pastebin.com/y3p42yLw

[2022-04-22 09:07] bentron2000 commented on #61
Just wondering if there's any updates on this? :)

[2022-04-22 12:01] Daggy1234 commented on #61
Oh so sorry! I got caught up with stuff. I'll try something this weekend 100%

[2022-04-29 08:10] Daggy1234 commented on #61
I have something rudimentary working, I'll finetune and make a PR soon!

[2022-04-30 12:46] Daggy1234 commented on #61
Once #121 is merged you should be able to use blobs. Ex:

Opening Blob:

[code]

Once the export bytes function is added, you can write the produced buffer to a file.

[2022-04-30 22:27] #120 closed

[2022-05-01 11:15] Daggy1234 commented on #51
Hi, currently the `image` crate that photon uses for encoding and decoding of images doesn't support saving images as webp (no encoding) but cannot decode.

https://github.com/image-rs/image/#supported-image-formats

[2022-05-01 12:23] #59 closed

[2022-05-01 12:25] silvia-odwyer commented on #59
@Lxrd-AJ This issue has now been fixed in #122, so I've closed this issue. Thanks again for opening it and letting me know about this! 👍

Thanks @NorbertGarfield for the fix to this bug 😄 🎉

[2022-05-02 12:33] Daggy1234 commented on #61
Final example once #125 is merged

[code]

[2022-05-03 06:03] bentron2000 commented on #89
If this happens to help anyone:

I am using Next js and have a desire to run this in a web worker and the following is working nicely.
(Nextjs is using Webpack 5)

So far I can do the following...

in `next.config.js`

[code]

in my `photon.worker.js`

[code]

[2022-05-03 06:07] bentron2000 opened #126 "Question: Writing out to different formats"
I seem to be having trouble figuring out how to get an image out as a jpg.

Currently I have a PhotonImage that I created by reading in a tiff image from a buffer, and I can call

`image.get_base64()`

which gives me...

 `data:image/png;base64,iVBORw0KGg...`

Apologies if I'm missing something obvious - but how might I get a  `data:image/jpeg;base64,NiCeJpEGDAtaHere...`?

[2022-05-03 12:20] #117 closed

[2022-05-04 11:52] kleisauke commented on #22
I tried to add the WebAssembly version of Photon to wasm-vips' performance benchmarks, see commit https://github.com/kleisauke/wasm-vips/commit/f38199f8f7301dad18ee40ad9c506f7672dd906b. On that benchmark, wasm-vips is 2 times faster than Photon.

As John noticed, it's currently impossible to specify the zlib compression or row filter(s) when saving to PNG. It seems that these 2 settings default to

[2022-05-06 03:13] bluthen commented on #126
#125

[2022-05-06 03:18] bluthen commented on #89
It works for me with webpack5 with asyncWebAssembly. I've never tried it with syncWebAssembly.

[2022-05-12 20:39] #98 closed

[2022-06-13 11:10] thobhanifreddy opened #130 "open_image for panorama images on Safari throws InvalidStateError"
I am using `photon-web` in my react project. It works really fine except for panorama image on Safari. It works fine on Chrome.

My code looks something like this

[code]

<img width="1512" alt="Screenshot 2022-06-13 at 13 08 24" src="https://user-images.githubusercontent.com/12369649/173341189-7599b69b-33fe-4b79-92cf-ad74c4dd9a9c.png">

[2022-07-14 11:28] marcus7701 opened #131 "Why is there such a big difference in the processing time between photon_rs and photon?"
Use photon_rs, alter_blue_channel use time 233ms
![Snipaste_2022-07-14_19-26-06](https://user-images.githubusercontent.com/49542737/178972173-2775bfd5-5be0-47a2-8887-50c2a58fa442.png)
on web, alter_channel, time use 13 ms
![Snipaste_2022-07-14_19-27-22](https://user-images.githubusercontent.com/49542737/178972423-7c4db5ad-aa4b-4e42-b714-00c13367ae43.png)
![Snipaste_2022-07-14_19-27-32](https://use

[2022-07-15 16:52] bluthen commented on #131
Just a guess, but have you tried optimized build of photon_rs?

[2022-07-16 20:17] silvia-odwyer commented on #131
@marcus7701 When running the demo, be sure to add the `--release` flag to the command:

[code]
This will ensure the build is optimized, as @bluthen mentioned, and performance can be maximized as a result.

[2022-07-18 02:20] marcus7701 commented on #131
useful thx

[2022-07-18 02:20] #131 closed

[2022-07-24 05:59] vbocan opened #132 "Possibly flawed implementation of image blending"
I am trying to reproduce the "multiply" and "screen" blend modes as described [on the Wikipedia Blend Modes page](https://en.wikipedia.org/wiki/Blend_modes#Multiply).

These are the original images mentioned in the Wikipedia article:

Bottom layer:
![180px-Blend_modes_2 -bottom-layer](https://user-images.githubusercontent.com/7954952/180634203-24365f85-132e-49bd-91e9-db40b71e3b20.jpg)

Top layer:

[2022-07-24 19:30] vbocan commented on #132
Just for the record, here's the Rust code I used to generate the resulting images:

[code]

[2022-07-25 18:23] silvia-odwyer commented on #132
@vbocan Hi Valer, thanks very much for opening this issue and letting me know about this! 👍 I'll be sure to take a look into what's causing the bug, and will keep you updated ✅ 😄

[2022-07-25 22:30] silvia-odwyer commented on #132
@vbocan I've just fixed the bug, it was due to a mismatch in the color space being used when blending the images together. This mismatch resulted in the differing outputs shown in the images above. If you update the library and re-run the code, you should get the results as shown in the Wikipedia images now.

Thanks again for letting me know about this, it's greatly appreciated! 😄 If you have any

[2022-07-26 02:28] vbocan commented on #132
Thank you for fixing the issue, you've just saved my project that uses photon-rs.

I just ran `cargo update` on my project but I'm still seeing photon-rs version 0.3.1, so I guess it takes a bit of time for the new version to propagate to crates.io.

[2022-07-26 03:17] silvia-odwyer commented on #132
@vbocan Glad to help! 😄 It hasn't been published on crates.io yet, but in the `Cargo.toml`, you can set the photon-rs dependency like so:

[code]
Hope that helps! The new version will be published on crates.io in the near future also ✅

[2022-07-26 04:17] vbocan commented on #132
Works like a charm!!!

[2022-07-26 04:17] #132 closed

[2022-08-12 19:47] Pandaphobic commented on #119
Curious if you ever found anything on this! I've tried to figure it out a few times but no luck yet

[2022-08-13 21:43] coreyward opened #134 "Uncaught RuntimeError: unreachable in Node on multiple functions"
I'm unable to create a new `PhotonImage` from a base64 encoded string, or export an existing `PhotonImage` to base64 in a Node environment using @silvia-odwyer/photon@0.3.1:

[code]

    at wasm://wasm/003bcd4e:wasm-function[840]:0xc5801
    at wasm://wasm/003bcd4e:wasm-function[961]:0xcae0e
    at wasm://wasm/003bcd4e:wasm-function[1296]:0xd1ff3
    at wasm://wasm/003bcd4e:wasm-function[1209]:0xd

[2022-08-14 20:15] silvia-odwyer commented on #134
@coreyward Hi Corey! Thanks for opening this issue, I'll take a look into what's causing this bug. I'm just wondering if you could you provide the image or base64 string, it would help diagnose the issue. Thanks very much! 😄 👍

[2022-08-14 20:33] coreyward commented on #134
@silvia-odwyer Oops that was just a typo in my post. I'm using `photon-node` in my code. I don't think the base64 string matters here as it happens even with this 3-line example going the other direction:

[code]

For reference, this occurred with every base64 string I tried, and I verified syntax on several by doing `pbpaste | base64 --decode > test.jpg` and confirming that the file operated like

[2022-08-14 20:49] coreyward commented on #134
Here's a [CodeSandbox example](https://codesandbox.io/s/zen-http-7ht1bb?file=/index.js) demonstrating the issue. It actually seems to work fine when creating the image from the PNG data, but the JPG fails.

[2022-08-14 22:02] silvia-odwyer commented on #134
@coreyward Thanks very much for the CodeSandbox example, it's much appreciated! 👍 I've taken a look at the issue, and it seems to be linked to Issue #120. The `rayon` feature seems to be causing the bug in relation to creating jpeg images from base64.
To fix this, I've removed this feature and published a new build. Could you update your `photon-node` dependency to 0.3.2 and let me know if it solv

[2022-08-14 23:07] silvia-odwyer commented on #119
@Pandaphobic Hi Chris! I've just fixed this bug in the filters mentioned, the last pixel should have the filter/effect applied to it now.

The repository has been updated with the fix, and I'll be publishing a new version of the crate soon also ✅ Thanks very much for letting me know about this, it's much appreciated! 👍 😄

[2022-08-15 17:36] coreyward commented on #134
Thank you! It looks like this allows `const img = photon.PhotonImage.new_from_base64(redSquareJpgB64);` to succeed 🎉 , but calling `img.get_image_data()` or `photon.get_image_data(img)` on the result results in the same “unreachable” error. Calling `photon.grayscale(img)` like [the guide shows](https://silvia-odwyer.github.io/photon/guide/using-photon-node/#applying-effects-and-filters) results in

[2022-08-15 19:11] silvia-odwyer commented on #134
Hi Corey,
I've just ran the example mentioned in the [guide here](https://silvia-odwyer.github.io/photon/guide/using-photon-node/#sample-code), and it worked as expected. However when I included a line to get the image data, it did result in an unreachable error. I'll have to investigate why that is, although creating png/jpg images with base64 and writing the output is all working okay for me.

I

[2022-08-26 12:54] Pandaphobic commented on #119
@silvia-odwyer Thanks so much for taking a look at this! For some reason, this actually broke my app so I'm going to have to look over my implementation. The images it makes now are very odd so I must be mishandling something.

[2022-09-23 07:49] mirzap commented on #51
It would seem webp encoding has been implemented in `image` create
https://github.com/image-rs/image/commit/e9ccfcfc30950fa242957d881195bb495abaf649

[2022-09-25 07:00] Sparkenstein opened #137 "Compressing Image"
I searched through the issued but I couldn't find a way to just `compress` the image.
I want to convert an image from any type (jpeg/png/webp) etc to any other, while compressing the size, keeping original dimensions
Can you point me to a direction

[2022-09-26 12:17] silvia-odwyer commented on #137
@Sparkenstein Thanks for opening this issue! 😄 Unfortunately this functionality is not yet available, but that being said,  there is a `get_bytes_jpeg` function (view [here](https://github.com/silvia-odwyer/photon/blob/d3853981d987151b4c1971f1e8e6ed27e0eed98e/crate/src/lib.rs#L154)), with a `quality` parameter that you can specify in order to change the image quality. However I do agree that a `co

[2022-09-27 10:15] Sparkenstein commented on #137
Hey thanks for the explanation.  I believe the function `get_bytes_jpeg` should work for me, but it looks like it's only for jpegs. I am currently working on a tool that can not only compress but as well change format. like [squoosh](https://squoosh.app/).
Maybe I can have a workaround for now like writing the alternative function myself?  I believe I only need to replace `image::ImageOutputFormat

[2022-09-30 20:57] dtruffaut commented on #51
Very interested in this. Let us know when it works !

[2022-09-30 22:50] dtruffaut commented on #46
For converting buffer to dataUrl (b64), you can check:
https://github.com/cloudflare/workerd/issues/54#issuecomment-1262659997

[2022-09-30 23:16] dtruffaut opened #138 "Cloudflare Workers Tutorial Boilerplate WASM WASI"
Cloudflare Workers is a popular serverless platform.
A tutorial + boilerplate explaining how to setup Photon would be awesome.

## Cloudflare Workers supports Photon
Demo
https://image-demo.denoflare.dev/
https://denoflare.dev/examples/transform-images-wasm
Code
https://github.com/skymethod/denoflare/blob/v0.5.8/examples/image-demo-worker/img.ts
https://github.com/skymethod/denoflare/blob/9e01b76e

[2022-10-01 22:49] silvia-odwyer commented on #138
@dtruffaut Hi Denis,
Wow, thank you very much for this! I had a look at the Denoflare demo you linked, and was very impressed by it overall. Cloudflare's WASI support is a very exciting development in the space, and I'm so impressed by Cloudflare Workers' incredible performance! I'll definitely have to set up Photon with Cloudflare Workers in the near future and post a tutorial on it also.

I'll a

[2022-10-02 00:49] silvia-odwyer commented on #137
We now have a general method for compressing JPEG images, thanks to #139 🎉
The next part to work on is adding support for multiple image formats also ✅

[2022-11-04 18:14] Avocadocs opened #144 "Speed issue with pure rust usage"
Hey,
I created new rust projet with photon only and I compiled it. When I run my code it takes minutes to generate image, is this normal ?

[code]

Thanks

[2022-11-07 19:47] silvia-odwyer commented on #144
@Avocadocs Just wondering if you've added the `--release` flag to the build command?

[2022-11-08 06:40] msurguy opened #145 "Some filters are not working"
The following filters are not working in the demo for me (Chrome on Windows)

Sobel Vertical
Sobel Horizontal
Laplace
Prewitt
Edge Detection
Primary

Tested on https://silvia-odwyer.github.io/photon/demo.html

[2022-11-09 19:57] Avocadocs commented on #144
Yes it's working now, I was not using it. Sorry for that and thanks for your time :)

[2022-11-09 19:57] #144 closed

[2022-11-09 23:30] silvia-odwyer commented on #144
@Avocadocs That's no problem at all, I'm glad it's working now! 🎉 Always happy to help, and if you have any other queries about using the library etc, don't hesitate to let me know! 😄

[2022-11-15 14:50] RaphaelBronsveld commented on #51
Interested in this as well!

[2022-11-15 21:21] Daggy1234 commented on #51
Okey! I'll start testing webp and see how it performs.